<head>
	<script
	  src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	.button {
		padding: 8px;
		background-color: #66CCFF;
		border: none;
    display: inline-block;
    transition-duration: 0.4s;
	}

	.button:hover {
		background-color: #0099CC;
	}

	.container {
		border-style: solid;
		border-color: #003399;
	}

	#editor {
		border-style: solid;
		border-color: #CCFFCC;
	}
	</style>
</head>
<body>
	<i>Last save in:
  <div style="float: right;"><button class="button" onclick="save()">Save</button></div>
  <div id="time">-</div></i>
  <center><h1>wysiwyg-editor</h1></center>
	<br>
    <div class="container">
        <button onclick="bold()" class="button"><b>B</b></button>
        <button onclick="italic()" class="button"><i>I</i></button>
        <button onclick="underline()" class="button"><u>U</u></button>
        <button onclick="link()" class="button">Link</button>
        <button onclick="linebreak()" class="button">Line break</button>
        <button onclick="hr()" class="button">HR</button>
        <button onclick="ollist()" class="button">Ordered list</button>
        <button onclick="ullist()" class="button">Unordered list</button>
        <button onclick="insertimage()" class="button">Image</button>
        <button onclick="justifycenter()" class="button">Justify center</button>
        <button onclick="justifyleft()" class="button">Justify left</button>
        <button onclick="justifyright()" class="button">Justify right</button>
        <button onclick="backcolor()" class="button">Background colour</button>
        <button onclick="fontsize()" class="button">Font size</button>
        <button onclick="indent()" class="button">Indent</button>
        <button onclick="outdent()" class="button">Outdent</button>
        <button onclick="block()" class="button">New block</button>
        <button onclick="center()" class="button">Center</button>
        <button onclick="show()" class="button"><del>Show HTML</del></button>
    </div>

    <p id="editor" contenteditable="true" spellcheck="false">Default text... Edit this!</p>

    <script>

    function save() {
        var d = new Date();
        document.getElementById("time").innerHTML = d.toLocaleTimeString();

        var content = document.getElementById("editor").innerHTML;
        $.post( "yoururl", { content: content} );
    }

    window.setInterval(save, 5000);

    function center() {
        var centerthing = window.getSelection().toString();
        document.execCommand("insertHTML", false, "<center>"+ centerthing +"</center>");
    }

    function hr() {
      document.execCommand("insertHTML", false, "<hr>");
    }

    function indent() {
        document.execCommand("indent");
    }

    function outdent() {
      document.execCommand("outdent");
    }

    function fontsize() {
        document.execCommand("fontSize", false, prompt("Font size number:", "16"));
    }

    function backcolor() {
        document.execCommand("backColor", false, prompt("Color (name or hexademical value)", "white"));
    }

    function fontname() {
        var value = document.getElementById(id).value;
        document.execCommand("fontName", false, value);
    }


    function backcolor() {
        document.execCommand("backColor", false, prompt("Color (name or hexademical value)", "white"));
    }

    function insertimage() {
        document.execCommand("insertImage", false, prompt("Image URL:", "http:\/\/"));
    }

    function justifyright() {
        document.execCommand("justifyRight");
    }

    function justifyleft() {
        document.execCommand("justifyLeft");
    }

    function justifyfull() {
        document.execCommand("justifyFull");
    }

    function justifycenter() {
        document.execCommand("justifyCenter");
    }

    function linebreak() {
        document.execCommand("insertLineBreak");
    }

    function italic() {
        document.execCommand("italic");
    }

    function bold() {
        document.execCommand("bold");
    }

    function underline() {
        document.execCommand("underline");
    }

    function ullist() {
        document.execCommand("insertUnOrderedList");
    }

    function ollist() {
        document.execCommand("insertOrderedList");
    }

    function link() {
        document.execCommand("createLink", false, prompt("URL:", "http:\/\/"));
    }
    </script>
